/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 	.groups-inspector__control {
 		width: 100%;

 		> div > div {
 			margin-top: 0px;
 		}
 	}

  .wp-block-groups-groups-shortcodes {
    border:2px solid #53678e;
    border-radius: 10px;
    padding:10px;
    &__inner-block {
      padding:20px;
    }
  }
